<h1>Welcome to our toppest site</h1>

<h2>Now is. <%= @time %> </h2>
<h2>My first student is <%= @students.first %></h2>

<h2>List of students</h2>

<form action="/">
  <input type="text" name="student_name" >
  <input type="submit" name="" id="">
</form>
<ul>
  <% @students.each do |student|  %>
    <li><%= student %></li>
  <% end  %>
</ul>

<%# <%=  link_to LINK_TEXT, LINK(PREFIX ROUTE)_PATH %>
<%= link_to  'Contact page', contact_path %>
<%= link_to  'About page', about_path %>
